.App {
  text-align: center;
  max-width: 100% !important;
    overflow-x: hidden !important;
}

.openingSection {
  @apply w-screen h-screen bg-black py-80 z-0 relative;
}
.heroSection {
  @apply w-screen h-screen bg-black relative;
}
.vidContainer {
  @apply w-screen h-screen bg-black  overflow-hidden;
}

.vidText {
  @apply text-white text-5xl font-bold absolute top-[26rem] w-[100%] -rotate-[30deg];
}

.smokeVid {
  @apply w-[100%] h-screen object-cover object-bottom;
}

.quote {
  @apply text-white italic text-5xl border-solid border-white border-2 h-[15rem] w-[44rem] p-10 mx-auto;
}

.modelContainer {
  @apply fixed z-10 top-0 w-screen h-screen bg-transparent;
}


.windowSection {
 @apply relative bg-black h-screen w-screen mb-[-15rem];
}

.imgContainer {
  @apply relative;
}

.window-bg {
  @apply w-[600px] h-auto absolute;
}
.window {
  @apply w-[600px] h-auto absolute;
}

.cat-standing {
  @apply w-[200px] h-auto absolute top-[331px] left-[175px] overflow-hidden;
}

.black-block {
  @apply w-[200px] h-[265px] absolute top-[340px] left-[164px] bg-black;
}

.blinds {
  max-width: 200%;
  @apply w-[1186px] h-[650px] left-[-290px] top-[-175px] absolute;
}
.blinds-scrunch {
  max-width: 200%;
  @apply  w-[1186px] h-[650px] left-[-290px] top-[-175px] absolute;
}

.windowText {
  float: right;
  text-align: right;
  
@apply text-xl mt-40 leading-10 relative text-white;
}

.litterSection {
  @apply h-[90vh] w-screen relative bg-black pt-40
}

.litterTitle {
background: #FF5CB3;
background: linear-gradient(to right, #FF5CB3 0%, #30CF85 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
@apply text-5xl font-bold;
}

.litterText {
  @apply text-xl mt-20 relative text-white;
}

.factsSection {
  background-image: url("img/leopard_print.jpg");
  @apply h-screen w-screen relative flex object-contain  justify-around;
}
.catPicsWrapper {
  @apply flex justify-start relative w-screen h-screen;
}

.catPics {
  @apply absolute z-10 w-[50%] h-[60%] top-[20%] overflow-hidden;
}

.catPic {
  @apply absolute w-[100%] h-[100%] top-0 left-0 overflow-hidden;
}

.catPic .slide {
  @apply absolute w-[100%] h-[100%] left-0 bg-cover;
}
.catPic.catPic1 {
  z-index: 6;
}
.catPic.catPic1 .slide {
  background: url("img/merlin_window.jpg");
  @apply bg-center bg-cover;
}
.catPic.catPic2 {
  z-index: 5;
}
.catPic.catPic2 .slide {
  background: url("img/grace_couch.jpg");
  @apply bg-left-top bg-cover;
}
.catPic.catPic3 {
  z-index: 4;
}
.catPic.catPic3 .slide {
  background: url("img/merlin_couch.jpg");
  @apply bg-center bg-cover;
}
.catPic.catPic4  {
  z-index: 3;
}
.catPic.catPic4 .slide {
  background: url("img/willow_glasses.jpg");
  @apply bg-center bg-cover;
}
.catPic.catPic5 {
  z-index: 2;
}
.catPic.catPic5 .slide {
  background: url("img/grace_tree.jpg");
  @apply bg-left-top bg-cover;
}
.catPic.catPic6 {
  z-index: 1;
}
.catPic.catPic6 .slide {
  background: url("img/merlin_slipper.jpg");
  @apply bg-center bg-cover;
}

.factsWrapper {
  @apply left-[40rem] absolute z-10 w-[50%] h-[8rem] top-[10%] overflow-hidden rounded-md;
  box-shadow: -6px 7px 2px 0px rgb(1, 73, 77);
-webkit-box-shadow: -6px 7px 2px 0px rgb(1, 73, 77);
-moz-box-shadow: -6px 7px 2px 0px rgb(1, 73, 77);;
  
}

.factsDiv {
  @apply absolute rounded-md w-[100%] h-[100%] top-0 left-0 overflow-hidden;
}

.factsDiv .factsText {
  @apply absolute w-[100%] h-[100%] left-0 text-4xl mt-6 bg-cover;
}

.factsDiv.factsDiv1 {
  @apply bg-[#52FFFF];
  z-index: 6;
}
.factsDiv.factsDiv2 {
  @apply bg-[#44E9FF];
  z-index: 5;
}
.factsDiv.factsDiv3 {
  @apply bg-[#36D2F9];
  z-index: 4;
}
.factsDiv.factsDiv4 {
  @apply bg-[#2DBAEF];
  z-index: 3;
}
.factsDiv.factsDiv5 {
  @apply bg-[#2AA3E3];
  z-index: 2;
}
.factsDiv.factsDiv6 {
  @apply bg-[#288DD7];
  z-index: 1;
}

.glassSection {
  @apply h-screen w-screen relative bg-black;
}

.glassImg {
  @apply absolute z-40 mx-[5%];
}